SOA and RESTful Webservices/dataRecords.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://at/geyerritter/dezsys07/soa" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://at/geyerritter/dezsys07/soa" targetNamespace="http://at/geyerritter/dezsys07/soa">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://at/geyerritter/dezsys07/soa">

    <xs:element name="getDataRecordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getDataRecordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="dataRecord" type="tns:dataRecord"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="dataRecord">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getDataRecordRequest">
    <wsdl:part element="tns:getDataRecordRequest" name="getDataRecordRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataRecordResponse">
    <wsdl:part element="tns:getDataRecordResponse" name="getDataRecordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DataRecordsPort">
    <wsdl:operation name="getDataRecord">
      <wsdl:input message="tns:getDataRecordRequest" name="getDataRecordRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDataRecordResponse" name="getDataRecordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataRecordsPortSoap11" type="tns:DataRecordsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDataRecord">
      <soap:operation soapAction=""/>
      <wsdl:input name="getDataRecordRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDataRecordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataRecordsPortService">
    <wsdl:port binding="tns:DataRecordsPortSoap11" name="DataRecordsPortSoap11">
      <soap:address location="http://192.168.10.200:8080/datarecords/search"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>